/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

wp-config.php

/wp-content/themes/twenty*/

/wp-content/plugins/hello.php

/wp-content/uploads/

*.log

/.htaccess

/vendor/
phpcs.xml
.idea
build/
/assets
dist
.phpunit.result.cache
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
